
html {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  background: rgb(213, 221, 255);
  width: 100%;
  border: 0;
  padding: 12px 20px;
  color: rgb(0, 0, 0);
  font-family: inherit;
  font-size: inherit;
  font-weight: semibold;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
}

body {
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: base-font-family;
  font-size: base-font-size;
  line-height: base-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: rgba(black, 0.8);
  width: 100%;
  height: 100%;
}

.form {
  z-index: 15;
  position: relative;
  background: white;
  width: max-width;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(black, .1);
  box-sizing: border-box;
  margin: 100px auto 10px;
  overflow: hidden;
  }

    label {
      display: block;
      margin: 0 0 10px;
      color: white;
      font-size: 12px;
      font-weight: semibold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: .2em;
    }


  header {
    margin: 0 0 40px;
  }
  h1 {
    padding: 4px 0;
    color: accent;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }


